!mud/etc/.dummy
!mud/home/Secret/.dummy

kotaka.err
mud/etc/*
mud/home/Secret/*
mud/home/Text/data/splash/telnet_banners/ansi/*
mud/include/float.h
mud/include/kfun.h
mud/include/limits.h
mud/include/status.h
mud/include/trace.h
mud/include/type.h
mud/kernel/data/access.data
mud/kernel/data/*.pwd
