body
{
	background-color: #555555;
}

div.page
{
	width: 75%;
	background-color: #ffffff;
	border: 1em solid #aaaaaa;
	border-radius: 4em;
	padding: 2em;
	margin: 2em auto;
}

p, h1, h2, h3, div.infobox
{
	margin: 12pt 0;
}

div.infobox
{
	margin: 12pt;
	padding: 1em;
	background-color: #ffff55;
	border: .25em solid #aa5500;
	border-radius: .5em;
}

/* trim first and last margin */

*:first-child
{
	margin-top: 0;
}

*:last-child
{
	margin-bottom: 0;
}

h1, h2, h3
{
	padding: 1em;
	text-align: center;
	color: #000000;
	background-color: #aaaaaa;
	border: .25em solid #000000;
	border-radius: .5em;
}

table
{
	margin: 0;
	padding: 0;
	border: 0;
	border-spacing: 0;
}

td
{
	margin: 0;
	vertical-align: top;
	padding: 0;
}
